<div class="container-md mt-3 ">
  <div class="row-md">
   <div class="col-md-12">
    <div class="mx-auto mt-3" style="width: 600px;">
     <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
     In<strong><i class="fas fa-book"></i>Bookers,</strong></br>
     </br>
     you can share and exchange your opinions , inpressions , and emotions</br>
     </br>
     about various books!
     <p class="text-center">
      <%= link_to "Log in", new_user_session_path, class:"btn btn-primary w-75 mt-3" %>
     </p>
     <p class="text-center">
    	<%= link_to "Sign up", new_user_registration_path, class:"btn btn-success w-75 mt-2" %>
     </p>
    </div>
   </div>
 </div>
</div>